@media only screen and (max-width : 768px) { 
    .mobile-padding {
        padding: 5px !important;
    }
    div.mobile-padding img {
        max-height: 150px !important;
    }
}

div.mobile-padding img {
    box-shadow: 2px 1px 4px grey;
    max-height: 210px;
}

div.mobile-padding img:hover {
    box-shadow: none;
}
.hidden {
    display: none;
}